body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}

h2{ text-align:center blueviolet; margin-top: 24px; }

.container {
  width: 360px;
  max-width: 90%;
  margin: 60px auto;
  background: #fff;
  padding: 22px;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  text-align: center;
}

.input-box {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.signin-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: blueviolet;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.forgot-row {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-size: 14px;
}

.forgot-row span {
  cursor: pointer;
  color: blue;
}

.forgot-row span:hover {
  text-decoration: underline;
}


/* Popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-box {
  background: white;
  padding: 20px;
  width: 80%;
  max-width: 300px;
  text-align: center;
  border-radius: 10px;
}

#popupOk {
  margin-top: 15px;
  padding: 10px 20px;
  background: royalblue;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}