
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.container {
  width: 250px;
  max-width: 90%;
  background: #fff;
  color: #45a049;
  padding: 22px;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  text-align: center;
}

.input-box {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #ccc;
}

/* ========== FULLSCREEN VIEW ========== */
#fullscreen {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.85);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#fullscreen img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}


.recoverBox {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reset-email-btn:hover {
    background-color: #45a049;
}

.error-msg {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: -8px;
    margin-bottom: 10px;
    text-align: left;
}
.success-msg {
    color: green;
    font-size: 12px;
    display: block;
    margin-top: -8px;
    margin-bottom: 10px;
    text-align: left;
}
