
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
}
h2 {
    margin-bottom: 20px;
}

.container {
  width: 360px;
  max-width: 90%;
  margin: 60px auto;
  background: #fff;
  padding: 22px;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  text-align: center;
}

/* ========== FULLSCREEN VIEW ========== */
#fullscreen {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.85);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#fullscreen img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}


.input-box {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.reset-btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reset-btn:hover {
    background-color: #45a049;
}

.error-msg {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: -8px;
    margin-bottom: 10px;
    text-align: left;
}
.success-msg {
    color: green;
    font-size: 12px;
    display: block;
    margin-top: -8px;
    margin-bottom: 10px;
    text-align: left;
}
