body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 25px;
  color: rgb(110, 0, 175);
}

.container {
  width: 90%;
  max-width: 350px;
  background: white;
  padding: 25px;
  margin: 30px auto;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}

.input-box {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #999;
}

.signin-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: blueviolet;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.forgot-row {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-size: 14px;
}

.forgot-row span {
  cursor: pointer;
  color: blue;
}

.forgot-row span:hover {
  text-decoration: underline;
}

/* Popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-box {
  background: white;
  padding: 20px;
  width: 80%;
  max-width: 300px;
  text-align: center;
  border-radius: 10px;
}

#popupOk {
  margin-top: 15px;
  padding: 10px 20px;
  background: royalblue;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
#popupOk:hover {
  background: dodgerblue;
}
