body {
    margin: 0;
    padding: 0;
    background: #eef1f7;
    font-family: Arial, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

h1 {
    margin-bottom: 20px;
}

.container {
    background: #ffffff;
    width: 90%;
    max-width: 350px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    text-align: center;
}

.input-box {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.signup-btn {
    width: 100%;
    padding: 12px;
    background: #4a4aff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

.signup-btn:hover {
    background: #0000cc;
}
