/* ========== BASIC ========== */
body {
    font-family: Arial;
    margin: 0;
    background: #f5f5f5;
}

h1 {
    text-align: center;
    color: blueviolet;
    margin-top: 20px;
}

/* ========== FULLSCREEN VIEW ========== */
#fullscreen {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.85);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#fullscreen img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

#closeFull {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 35px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 8px;
    background: rgba(0,0,0,0.4);
}
/* ========== BOTTOM BUTTONS ========== */
.btn {
    text-align: center;
    padding: 20px 0;
    margin-top: 20px; 
}

.myBtn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* GALLERY MAIN CONTAINER */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

/* First 5 images → 5 in one horizontal row */
.gallery img:nth-child(-n+5) {
    width: calc(20% - 10px);   /* 5 images in a row */
}

/* Remaining images → 2 columns */
.gallery img.two {
    width: calc(50% - 10px);   /* 2 images per row */
}

/* Common styles */
.gallery img {
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s;
}

/* Hover zoom effect (optional) */
.gallery img:hover {
    transform: scale(1.05);
}

/* Responsive for Mobile */
@media (max-width: 600px) {

    /* First 5 images still 5 in a row */
    .gallery img:nth-child(-n+5) {
        width: calc(20% - 5px);
    }

    /* Remaining images → 2 columns */
    .gallery img.two {
        width: calc(50% - 5px);
    }
}
