/* REMOVE DEFAULT MARGIN */
body { 
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}


/* --------------------------------------------------
   FULLSCREEN BACKGROUND
-------------------------------------------------- */
.top-image {
    position: relative;  /* container absolute inside this */
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.center-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.welcome-text {
    position: absolute;
    top: 20%;
    left:50%;
    transform: translate(-25%);
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
}

/* --------------------------------------------------
   CONTAINER
-------------------------------------------------- */
.container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  border-color: darkolivegreen;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.3);
}


/* --------------------------------------------------
   INPUT FIELDS + PASSWORD
-------------------------------------------------- */
.input-group {
    position: relative; /* important for eye icon */
    margin-bottom: 15px;
}

.input-box {
    width: 100%;
    padding: 10px 40px 10px 10px; /* padding-right for eye icon */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 2;
    opacity: 0.8;
}

.eye-icon:hover {
    opacity: 1;
}

/* ERROR MESSAGES */
.error-msg {
    color: red;
    font-size: smaller;
}

/* --------------------------------------------------
   BUTTONS
-------------------------------------------------- */
.submit {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: blueviolet;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.submit:hover {
    background-color: darkviolet;
}

.go-back { 
    text-align: right; 
    width: 100%; 
    font-size: 14px; 
    color: red; 
    cursor: pointer; 
    margin-top: 10px; 
} 
.go-back:hover { 
    text-decoration: underline; 
} 
.error-msg { 
    color: red; 
    font-size: smaller; 
}
/* --------------------------------------------------
   MOBILE RESPONSIVE
-------------------------------------------------- */
@media (max-width: 768px) {
    .top-image {
        justify-content: center;   /* Bring container to center on mobile */
        padding-right: 0;
    }

    .container {
        width: 90%;
    }

    .welcome-text {
        font-size: 28px;
        top: 5%;
    }
}

