body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
}

/* FULL BG IMAGE */
.top-image {
    position: relative;
}

.top-image img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/* TITLE */
.welcome-text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #a020f0;
    font-size: 34px;
    font-weight: bold;
}

/* MAIN FORM CONTAINER */
.container {
    width: 360px;
    background: white;
    margin: -80px auto 40px;   /* pulls container upward but keeps spacing */
    padding: 25px 25px 35px;
    border-radius: 14px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    position: relative;
}

@media(max-width: 960px) {
    .top-image {
        aspect-ratio: 16/9;
    }
}

/* Signup box inside image */
/* ====== Container ====== */
.container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  height: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  border-color: darkolivegreen;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.3);
}

/* ====== Input Boxes ====== */


/* Input wrapper */
.eye-icon-group {
   position: relative;
    width: 90%;
    margin: 15px auto;         /* full width inside container */
}

/* INPUT BOX */
.input-box {
    width: 100%;            /* stays inside container */
    padding: 10px 40px 10px 10px; /* space for eye icon */
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 12px;
    box-sizing: border-box; /* important so padding does not expand width */
}


/* EYE ICON */
.eye-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 18px;   /* small gap from right */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.8;
}


.eye-icon:hover {
    opacity: 1;
}
.password-wrapper {
    position: relative;
    margin-bottom: 22px; /* give enough space even when error appears */
}


/* Signup Button */
.submit {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
.submit:hover {
    background-color: darkviolet;
}

/* Error message */
.error-msg {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 6px;     /* space above error */
    margin-bottom: 10px; /* space below error */
}

