.container{
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);    
}
h1{
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    }
    h2{
    text-align: center;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    }
input[type="password"]{
    width: 100%;
    padding: 10px;
    margin: 10px 0; 
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    }
button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    display: block;
    margin: 20px auto;   /* Centers horizontally */
}
button:hover{
    background-color: #218838;
    }
.error-msg{
    color: red;     
    margin-top: 10px;
    font-size: 14px;
    }   

.success{
    color: green;           
    margin-top: 10px;
    font-size: 14px;
    }
label{
    font-family: Arial, sans-serif;     
    font-size: 14px;
    color: #555;
    }
form{
    display: flex;
    flex-direction: column;
    }
form div{
    margin-bottom: 15px;
    }
form div:last-child{
    margin-bottom: 0;
    }
    