body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
}
.container {
    width: 360px;
    max-width: 90%;
    margin: 60px auto;
    background: #fff;
    padding: 22px;
    padding: auto;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    text-align: center;
}

h1,h2 {
    text-align: center;
    color: grey;
    margin-top: 20px;
}

.input-box {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  display: block;
  margin-left: 2px;
  margin-right: 2px;
}


/* ========== FULLSCREEN VIEW ========== */
#fullscreen {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.85);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#fullscreen img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.input-box {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}
.reset-btn {
    width: 100%;
    padding: 12px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
.reset-btn:hover {
    background-color: darkviolet;
}
.message {
    text-align: center;
    font-weight: bold;
    color: red;
    margin-top: 10px;
}
.success {
    color: green;
}
.error {
    color: red;
}
.info {
    color: blue;
}
.warning {
    color: orange;
}
.loading {
    color: grey;
}

input:not([type="image" i], [type="range" i], [type="checkbox" i], [type="radio" i]) {
    overflow-clip-margin: 0px !important;
    overflow: clip !important;
}

input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;
}

input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
}

input {
    font-style: normal;
    font-variant: normal;
    font-weight: 400;   
    font-size: 16px;
    font-family: Arial, sans-serif;  
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em 0em 0em 0em;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding-block: 1px;
    padding-inline: 2px;
}
